/* base styles */
/* colors:
- darker blue: # 011222 or # 011633
- other blue: # 012D52
- lightest blue on page: # 04528C or # 0A5694
- white text: # E5ECFD or the brighter # FEFBFD (maybe for focus)
- black: # 00111C*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    /* not sure if this is necessary
    min-height: 100vh;*/
    background-color: #012D52;
    color: #FEFBFD;
}

* * {
    background-color: inherit;
    color: inherit;
}

/* header styles */
header {
    display: flex;
    position: fixed;
    z-index: 10;
    flex-direction: column;
    justify-content: center;
    background-color: #012D52;
    color: #FEFBFD;
    border-bottom: solid #E5ECFD 5px;
    width: 100%;
}

header h1,
h2 {
    text-align: center;
}

#logo {
    padding: 6px;
    margin-top: 5px;
    font-size: 180%;
}

#subtitle {
    padding: 8px 40px;
    font-size: 115%;
    margin-top: -7px;
    align-self: center;
}

/* main styles */
main {
    margin-top: 5em;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    gap: 1em;
}

.main-content-div {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.container {
    border: solid 3px;
    border-radius: 15px;
    width: 80%;
    padding: 5px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}

.content-header {
    align-self: center;
    padding-top: 5px;
}

.content {
    padding: 5px 18px 13px 18px;
}

#link-div {
    margin-bottom: 1em;
}

/* game page styles */
.video-answer-div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feedback-div {
    visibility: hidden;
}

@media screen and (min-width: 760px) {
    body {
        background-color: #011633;
    }

    header {
        width: 50%;
        margin-top: 1em;
        align-self: center;
        border: solid #E5ECFD 6px;
        border-radius: 15px;
        /* I am not sure if I like that color */
        background-color: #012D52;
        padding: 5px;
    }

    #logo {
    margin-top: 2px;
    font-size: 200%;
    }

    /*main {}*/

    #subtitle-div {
        margin-top: 2em;
        font-size: 1.2em;
        padding: 5px;
        width: 50%;
    }

    .main-content-div {
        flex-direction: row;
        gap: 18px;
        align-items: flex-start;
    }

    .container {
        background-color: #012D52;
    }
}